<div class="container">

  <div class="content">
    <%= @content.html_safe %>
    <div class="content__actions">
      <a href="#" class="content__actions__version content__actions__version--active">v1.0</a>
      <a href="#" class="content__actions__version">v0.9</a>
      <a href="#" class="content__actions__version">v0.8</a>
    </div>
  </div>

  <div class="sidebar">
    <h3>Table of contents</h3>

    <ul class="sidebar__nav">
      <% @headers.each do |header| %>
        <li class="sidebar__nav__item">
        <% if header.is_a?(Array) %>
          <ul class="sidebar__nav">
            <% header.each do |header| %>
              <li class="sidebar__nav__item">
                <a href="#<%= header.parameterize %>"><%= header %></a>
              </li>
            <% end %>
          </ul>
        <% else %>
          <a href="#<%= header.parameterize %>"><%= header %></a>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
